<!-- Titlebar
================================================== -->
<section id="titlebar">
  <!-- Container -->
  <div class="container">

    <div class="eight columns">
      <h2>Sign Up</h2>
    </div>

  </div>
  <!-- Container / End -->
</section>

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
  <div class="sixteen columns">
    <div class="image-with-caption contact">
      <img class="rsImg" src="http://www.vasterad.com/themes/chow/images/contact.jpg" alt="" />
    </div>
  </div>
</div>
<!-- Container / End -->


<div class="margin-top-10"></div>


<!-- Container -->
<div class="container">

<!-- Contact Form -->
<div class="fourteen columns">
    <h3 class="headline">Sign Up</h3><span class="line margin-bottom-25"></span><div class="clearfix"></div>

    <!-- Contact Form -->
    <section id="contact">

      <!-- Success Message -->
      <mark id="message"></mark>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>


<div class="four columns">


</div>
<!-- Container / End -->


</div>
<!-- Wrapper / End -->
