<!-- Wrapper -->
<div id="wrapper">



<!-- Titlebar
================================================== -->
<section id="titlebar" class="browse-all">
  <!-- Container -->
  <div class="container">

    <div class="eight columns">
      <h2>Browse Recipes</h2>
    </div>

  </div>
  <!-- Container / End -->
</section>


<div class="margin-top-35"></div>


<!-- Container -->
<div class="container">
  <% if params[:images] == true %>
  <a href="/recipes">Show all recipes</a>
  <% else %>
  <a href="/recipes?images=true">Show only recipes with Images</a>
  <% end %>

  <h3>Main Ingredient: </h3>
  <% if params[:images] == 'true' %>
    <a href='/recipes?main=poultry&images=true'>Poultry</a>
    <a href='/recipes?main=beef&images=true'>Beef</a>
    <a href='/recipes?main=pork&images=true'>Pork</a>
    <a href='/recipes?main=fish&images=true'>Fish</a>
    <a href='/recipes?main=lamb&images=true'>Lamb</a>
    <a href='/recipes?main=vegetarian&images=true'>Vegetarian</a>
  <% else %>
    <a href='/recipes?main=poultry'>Poultry</a>
    <a href='/recipes?main=beef'>Beef</a>
    <a href='/recipes?main=pork'>Pork</a>
    <a href='/recipes?main=fish'>Fish</a>
    <a href='/recipes?main=lamb'>Lamb</a>
    <a href='/recipes?main=vegetarian'>Vegetarian</a>
  <% end %>

  <!-- Headline -->
  <div class="sixteen columns">
    <h3 class="headline">All Recipes</h3>
    <span class="line margin-bottom-35"></span>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>


    <!-- Isotope -->
    <div class="isotope">

    <% @recipes[0..11].each do |recipe| %>
 
      <!-- Recipe #1 -->
      <div class="four isotope-box columns">

        <!-- Thumbnail -->
        <div class="thumbnail-holder">
          <a href="recipes/<%= recipe.id %>">
            <img src=<%= recipe.image %> alt=""/>
            <div class="hover-cover"></div>
            <div class="hover-icon">View Recipe</div>
          </a>
        </div>

        <!-- Content -->
        <div class="recipe-box-content">
          <h3><a href="recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>

          <div class="rating five-stars">
            <div class="star-rating"></div>
            <div class="star-bg"></div>
          </div>

          <div class="recipe-meta"><i class="fa fa-clock-o"></i> <%= recipe.prep_time %></div>

          <div class="fav_mute">
          <!-- if already a favorite use fa fa-heart -->
          <a class="favorite" data-method="patch" href="/favorite/<%= recipe.id %>"><i class="fa fa-heart-o"></i></a>
          <a class="mute" data-method="patch" href="/mute/<%= recipe.id %>"><i class="fa fa-minus-circle"></i></a></div>

          <div class="clearfix"></div>
        </div>
      </div>

      <% end %>
    </div>

    <!-- Pagination -->
    <div class="sixteen columns">
      <div class="pagination-container">
        <nav class="pagination">
          <ul>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <li><a href="#" class="prev"></a></li>
            <li><a href="#" class="next"></a></li>
          </ul>
        </nav>
      </div>
    </div>

</div>


</div>
<!-- Wrapper / End -->








<div id=recipes>

{{ message }}

</div>
