<!-- Wrapper -->
<div id="wrapper">



<!-- Titlebar
================================================== -->
<section id="titlebar" class="browse-all">
  <!-- Container -->
  <div class="container">

    <div class="eight columns">
      <h2>Browse Recipes</h2>
    </div>

  </div>
  <!-- Container / End -->
</section>


<!-- Container -->
<div class="advanced-search-container">
  <div class="container">
    <div class="sixteen columns">
      <div id="advanced-search">

        <!-- Choose Category -->
        <div class="select">
          <label>Choose category</label>
          <select data-placeholder="Choose Category" class="chosen-select-no-single">
            <option value="1">Vegetarian</option>
            <option value="2">Poultry</option>
            <option value="3">Beef</option>
            <option value="4">Pork</option>
            <option value="5">Fish</option>
            <option value="6">Lamb</option>
          </select>
        </div>

        <!-- Choose ingredients -->
        <div class="select included-ingredients">
          <label>Select one or more ingredients that should be included in recipe</label>
          <select data-placeholder="Included Ingredients" class="chosen-select" multiple>
            <option value="sugar">sugar</option>
          </select>
        </div>

        <!-- Choose -->
        <div class="select">
          <label>Recipe needs to have</label>
          <select data-placeholder="Choose Category" class="chosen-select">
            <option value="1">All of selected ingredients </option>
            <option value="2">Any of selected ingredients</option>
          </select>
        </div>
        
        <div class="clearfix"></div>

        <!-- Search Input -->
        <nav class="search-by-keyword">
          <form action="#" method="get">
            <button><span>Search for Recipes</span><i class="fa fa-search"></i></button>
            <input class="search-field" type="text" placeholder="Search by keyword" value=""/>
          </form>
        </nav>
        <div class="clearfix"></div>


        <!-- Advanced Search Button -->
        <a href="#" class="adv-search-btn">Advanced Search <i class="fa fa-caret-down"></i></a>


        <!-- Extra Search Options -->
        <div class="extra-search-options closed">


          <!-- Choose Excluded Ingredients -->
          <div class="select excluded-ingredients">
            <label>Select one or more ingredients that should be excluded from recipe</label>
            <select data-placeholder="Excluded Ingredients" class="chosen-select" multiple>
              <option value="sugar">sugar</option>
              <option value="wheat-flour">wheat flour</option>
            </select>
          </div>

          <!-- Choose Alergens -->
          <div class="select alergens">
            <label>Choose alergens</label>
            <select data-placeholder="Choose Alergens" class="chosen-select" multiple>
              <option value="2">Peanut</option>
              <option value="3">Tree nuts</option>
              <option value="4">Milk</option>
              <option value="5">Egg</option>
              <option value="6">Wheat</option>
              <option value="7">Soy</option>
              <option value="8">Fish</option>
              <option value="9">Shellfish</option>
            </select>
          </div>


          <div class="clearfix"></div>


          <!-- Choose Level -->
          <div class="select">
            <label>Choose level</label>
            <select data-placeholder="Choose level" class="chosen-select">
              <option value="1">All</option>
              <option value="2">Easy</option>
              <option value="3">Medium</option>
              <option value="4">Hard</option>
              <option value="5">Master</option>
            </select>
          </div>

          <!-- Choose serving -->
          <div class="select">
            <label>Choose serving</label>
            <select data-placeholder="Choose level" class="chosen-select">
              <option value="1">All</option>
              <option value="2">for 1 person</option>
              <option value="3">for 2 people</option>
              <option value="5">for 4 people</option>
              <option value="6">for family</option>
            </select>
          </div>

          <!-- Choose time needed -->
          <div class="select">
            <label>Choose time needed</label>
            <select data-placeholder="Choose time needed" class="chosen-select">
              <option value="1">All</option>
              <option value="2">Half an hour</option>
              <option value="3">Less than hour</option>
              <option value="3">More than hour</option>
            </select>
          </div>

          <div class="clearfix"></div>
          <div class="margin-top-10"></div>

        </div>
        <!-- Extra Search Options / End -->


      <div class="clearfix"></div>
      </div>

    </div>
  </div>
</div>


<div class="margin-top-35"></div>


<!-- Container -->
<div class="container">
  <% if params[:images] == "true" %>
    <a href="/recipes?images=false&main=<%= params[:main] %>&page=<%= params[:page] %>">Show all recipes</a>
  <% else %>
    <a href="/recipes?images=true&main=<%= params[:main] %>&page=<%= params[:page] %>">Show only recipes with Images</a>
  <% end %>

  <h3>Main Ingredient: </h3>
  <a href='/recipes?images=<%= params[:images] %>&main=poultry&page=<%= params[:page] %>'>Poultry</a>
  <a href='/recipes?images=<%= params[:images] %>&main=beef&page=<%= params[:page] %>'>Beef</a>
  <a href='/recipes?images=<%= params[:images] %>&main=pork&page=<%= params[:page] %>'>Pork</a>
  <a href='/recipes?images=<%= params[:images] %>&main=fish&page=<%= params[:page] %>'>Fish</a>
  <a href='/recipes?images=<%= params[:images] %>&main=lamb&page=<%= params[:page] %>'>Lamb</a>
  <a href='/recipes?images=<%= params[:images] %>&main=vegetarian&page=<%= params[:page] %>'>Vegetarian</a>

  <!-- Headline -->
  <div class="sixteen columns">
    <h3 class="headline">All Recipes</h3>
    <span class="line margin-bottom-35"></span>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>


    <!-- Isotope -->
    <div class="isotope">

    <% @recipes[0..11].each do |recipe| %>
 
      <!-- Recipe #1 -->
      <div id="recipe_show" class="four isotope-box columns">

        <!-- Thumbnail -->
        <div class="thumbnail-holder">
          <a href="/recipes/<%= recipe.id %>">
            <img src=<%= recipe.image %> alt=""/>
            <div class="hover-cover"></div>
            <div class="hover-icon">View Recipe</div>
          </a>
        </div>

        <!-- Content -->
        <div class="recipe-box-content">
          <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>

          <div class="rating five-stars">
            <div class="star-rating"></div>
            <div class="star-bg"></div>
          </div>

          <div class="recipe-meta"><i class="fa fa-clock-o"></i> <%= recipe.prep_time %></div>

          <div class="fav_mute">

          <% if Recipe.where(id: Favorite.where(user_id: current_user).pluck(:recipe_id)).ids.include?(recipe.id) %>
            <a class="favorite" data-method="delete" href="/favorite/<%= recipe.id %>"><i id="fav_button" class="fa fa-heart"></i></a>
          <% else %>
            <a class="favorite" data-method="patch" href="/favorite/<%= recipe.id %>"><i id="fav_button" class="fa fa-heart-o"></i></a>
          <% end %>
          <a class="mute" data-method="patch" href="/mute/<%= recipe.id %>"><i class="fa fa-minus-circle"></i></a></div>

          <div class="clearfix"></div>
        </div>
      </div>

      <% end %>
    </div>

    <!-- Pagination -->
    <div class="sixteen columns">
      <div class="pagination-container">
        <nav class="pagination">
          <ul>
            <li><a href="/recipes?images=<%= params[:images] %>&main=<%= params[:main] %>&page=1" class="current-page">1</a></li>
            <li><a href="/recipes?images=<%= params[:images] %>&main=<%= params[:main] %>&page=2">2</a></li>
            <li><a href="/recipes?images=<%= params[:images] %>&main=<%= params[:main] %>&page=3">3</a></li>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <li><a href="/recipes?images=<%= params[:images] %>&main=<%= params[:main] %>&page=<%= params[:page].to_i - 1 %>" class="prev"></a></li>
            <li><a href="/recipes?images=<%= params[:images] %>&main=<%= params[:main] %>&page=<%= params[:page].to_i + 1 %>" class="next"></a></li>
          </ul>
        </nav>
      </div>
    </div>

</div>


</div>
<!-- Wrapper / End -->








<div id=recipes>

{{ message }}

</div>
