
<% if PantryItem.where(user_id: current_user.id).length == 0 %>
<div class="advanced-search-container">
  <div class="container">
    <div class="sixteen columns">
      <br><h1>Oops!  You haven't added any items to your <a href="/mypantry">Pantry</a> yet!  Please add some ingredients so we can help you select some recipes.</h1>
    </div>
  </div>
</div>
<% else %>
<!-- Content
================================================== -->
<div class="advanced-search-container">
  <div class="container">
    <div class="sixteen columns">
      <h1>Based on your ingredients, we recommend these recipes:</h1>
    </div>
  </div>
</div>

<div class="container">
<!-- <p>Show: <a href="/mealplanner?page=1&images=true&favorites=<%= params[:favorites] %>">Recipes with Images Only</a> | <a href="/mealplanner?page=1&images=<%= params[:images] %>&favorites=true">Favorite Recipes Only</a></p> -->
  <!-- Masonry -->
  <div class="twelve columns ">

    <!-- Headline -->

    <span class="line rb margin-bottom-35"></span>
    <div class="clearfix"></div>

    <!-- Isotope -->
    <div class="list-style">
      <% @recipes[0..5].each do |recipe| %>

        <!-- Recipe #1 -->
      <div class="four recipe-box columns">

        <!-- Thumbnail -->
        <div class="thumbnail-holder">
          <a href="/recipes/<%=recipe['id']%>">
            <img src=<%= Recipe.find_by(id: recipe['id']).image %> alt=""/>
            <div class="hover-cover"></div>
            <div class="hover-icon">View Recipe</div>
          </a>
        </div>

        <!-- Content -->
        <div class="recipe-box-content">
          <h3><a href="/recipes/<%=recipe['id']%>"><%= Recipe.find_by(id: recipe['id']).name %></a>
          <% if Recipe.where(id: Favorite.where(user_id: current_user).pluck(:recipe_id)).ids.include?(recipe['id']) %>
            <i id="fav_button" class="fa fa-heart"></i> <% end %>
          </h3>
          <p>You have <%= recipe['pantry_ingredients'] %> of <%= recipe['recipe_ingredients'] %> ingredients </p>
    <!--  <p>Missing ingredients: <%= Recipe.find_by(id: recipe['id']).ingredients %></p> -->

          <div class="rating five-stars">
            <div class="star-rating"></div>
            <div class="star-bg"></div>
          </div>

          <div class="meta-alignment">
            <div class="recipe-meta"><i class="fa fa-clock-o"></i> <%= Recipe.find_by(id: recipe['id']).cook_time %></div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <% end %>

    </div>

    <div class="clearfix"></div>

    <!-- Pagination -->
    <div class="sixteen columns">
      <div class="pagination-container">
        <nav class="pagination">
          <ul>
            <% count = 1 %>
            <% @num_of_pages.times do %>
            <li><a href="/mealplanner?page=<%= count %>" <% if params[:page].to_i == count %> class="current-page"<% end %>><%= count %></a></li>
            <% count += 1 %>
            <% end %>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <% if params[:page].to_i > 1 %>
            <li><a href="/mealplanner?page=<%= params[:page].to_i - 1 %>" class="prev"></a></li>
            <% end %>
            <% if @num_of_pages.to_i > 1 %>
              <li><a href="/mealplanner?page=<%= params[:page].to_i + 1 %>" class="next"></a></li>
            <% else %>
              <li><a class="next"></a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

  </div>


</div>
<!-- Container / End -->

<div class="margin-top-5"></div>


</div>
<!-- Wrapper / End -->
<% end %>
