<h3>Main Ingredient: </h3>
<a href='/recipes?images=<%= params[:images] %>main=poultry&page=<%= params[:page] %>'>Poultry</a>
<a href='/recipes?images=<%= params[:images] %>main=beef&page=<%= params[:page] %>'>Beef</a>
<a href='/recipes?images=<%= params[:images] %>main=pork&page=<%= params[:page] %>'>Pork</a>
<a href='/recipes?images=<%= params[:images] %>main=fish&page=<%= params[:page] %>'>Fish</a>
<a href='/recipes?images=<%= params[:images] %>main=lamb&page=<%= params[:page] %>'>Lamb</a>
<a href='/recipes?images=<%= params[:images] %>main=vegetarian&page=<%= params[:page] %>'>Vegetarian</a>
