<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 12pt;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    opacity: 0.9;
    background-color: gray;
    color: #fff;
    font-size: 10pt;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<h1>MyPantry</h1>

<div id="pantry">
  <datalist id="ingredients">
  <% @not_in_pantry.each do |ingredient| %>
    <option><%= ingredient.name %></option>
  <% end %>

<!--   <option v-for="ingredient in ingredients">{{ ingredient.name }}</option> -->

  </datalist>
  <p id="current_user" class="<%= current_user.id %>" hidden ></p>
  <div class="advanced-search-container">
    <div class="container">
      <div class="sixteen columns">
        <div id="advanced-search">
          <div class="select included-ingredients">
            <nav class="search-by-keyword">


<!-- <v-select multiple v-model="selected" :options="['flour','chicken', 'rice']"></v-select> -->

              <form action="/pantry_items" method="post">
              <label>Add Ingredient:</label>
              <select data-placeholder="Search for Ingredients" class="chosen-select" name="ingredient[]" multiple>
              <% @not_in_pantry.each do |ingredient| %>
                <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
              <% end %>
              </select>
              <button type="submit">Add</button>
              <!-- <button v-on:click="addPantryItem()"><span>Add</span><i class="fa fa-search"></i></button> -->
              </form>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <p>Add Ingredient: <input v-model="newPantryItem"  list="ingredients"></input><button v-on:click="addPantryItem()">Add</button></p> -->

  <div class="container example-grid">


    
    <div id="suggestions" class="sixteen columns">
      <h2><div class="tooltip"><i class="fa fa-info-circle"></i><span class="tooltiptext">Suggestions are based on frequency of ingredients in your favorite recipes and in other users' pantries</span> </div> Suggestions: </h2>
      <form action="/pantry_items" method="post" name="ingredient[]">
        <% @suggestions.each do |ingredient| %>
          <input type="checkbox" name="ingredient[]" value="<%= ingredient['id'] %>"><%= ingredient['name'] %>
        <% end %>
        <input type="submit" value="Add">
      </form>
    </div>

    <h2>In Pantry: </h2>

    <div id="herbs" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 1).name %></h3>
      <ul>
        <li v-for="ingredient in herbs">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('herbs', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

    <div id="fruit" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 3).name %></h3>
      <ul>
        <li v-for="ingredient in fruit">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('fruit', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

    <div id="veg" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 4).name %></h3>
      <ul>
        <li v-for="ingredient in veg">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('veg', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>        
      </ul>
    </div>

    <div id="meat" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 5).name %></h3>
      <ul>
        <li v-for="ingredient in meat">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('meat', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

   <div id="canned" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 6).name %></h3>
      <ul>
        <li v-for="ingredient in canned">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('canned', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>       
      </ul>
    </div>

   <div id="sauces" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 7).name %></h3>
      <ul>
        <li v-for="ingredient in sauces">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('sauces', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

   <div id="dairy" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 8).name %></h3>
      <ul>
        <li v-for="ingredient in dairy">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('dairy', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

   <div id="baking" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 9).name %></h3>
      <ul>
        <li v-for="ingredient in baking">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('baking', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>    
      </ul>
    </div>

   <div id="pasta" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 10).name %></h3>
      <ul>
        <li v-for="ingredient in pasta">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('pasta', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>

   <div id="bread" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 11).name %></h3>
      <ul>
        <li v-for="ingredient in bread">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('bread', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>        
      </ul>
    </div>

    <div id="oil" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 12).name %></h3>
      <ul>
        <li v-for="ingredient in oil">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('oil', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>        
      </ul>
    </div>

    <div id="nuts" class="four columns">
    <h3><%= IngredientCategory.find_by(id: 14).name %></h3>
      <ul>
        <li v-for="ingredient in nuts">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('nuts', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>        
      </ul>
    </div>

    <div id="uncat" class="sixteen columns">
    <h3><%= IngredientCategory.find_by(id: 2).name %></h3>
      <ul>
        <li v-for="ingredient in uncat">{{ingredient["ingredient_name"]}} <a v-on:click="deletePantryItem('uncat', ingredient['ingredient_id'], ingredient)"><i class="fa fa-close"></i></a></li>        
      </ul>
    </div>

  </div>
</div>

