<!-- Slider
================================================== -->

<div id="homeSlider" class="royalSlider rsDefaultInv">

  <!-- Slide #1 -->
  <div class="rsContent">
    <a class="rsImg" href="/images/pantry_photo.png"></a>
    <i class="rsTmb">Welcome</i>

    <!-- Slide Caption -->
    <div class="SlideTitleContainer rsABlock">
    <div class="CaptionAlignment">
      <div class="rsSlideTitle tags">
        <ul>
          <!-- <li>Baking</li> -->
        </ul>
        <div class="clearfix"></div>
      </div>

      <h2 class="rsSlideTitle title"><a>Wecome to Pantry</a></h2>

      <div class="rsSlideTitle details">
        <ul>
          <li>Recipes made from your pantry essentials</li>
        </ul>
      </div>
    </div>
  </div>

  </div>

  <!-- Slide #2 -->
  <div class="rsContent">
    <a class="rsImg" href="images/pantry2.png"></a>
    <i class="rsTmb">Coming <br>Soon!</i>

    <!-- Slide Caption -->
    <div class="SlideTitleContainer rsABlock">
    <div class="CaptionAlignment">
      <div class="rsSlideTitle tags">
        <ul>
          <li>UPDATE</li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <h2 class="rsSlideTitle title"><a href="recipe-page-1.html">Coming Soon: Add your own Recipes</a></h2>

      <div class="rsSlideTitle details">
        <ul>
        </ul>
      </div>

      <a href="/newsletter" class="rsSlideTitle button">Stay Updated</a>
    </div>
    </div>

  </div>
  
  <!-- Slide #3 -->
  <div class="rsContent">
    <a class="rsImg" href="/images/avocado_salad.jpg"></a>
    <i class="rsTmb">NEW! <br> Temporary Pantry Items </i>

    <!-- Slide Caption -->
    <div class="SlideTitleContainer rsABlock">
    <div class="CaptionAlignment">
      <div class="rsSlideTitle tags">
        <ul>
          <li>UPDATE</li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <h3 class="rsSlideTitle title"><a href="recipe-page-2.html">You can new add temporary items to your pantry</a></h3>

      <div class="rsSlideTitle details">
        <ul>
          <li>Try it in the Meal Planner tab!</li>
        </ul>
      </div>

      <a href="/mealplanner/splash" class="rsSlideTitle button">Meal Planner</a>
    </div>
    </div>

  </div>        

</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Masonry -->
	<div class="twelve columns">

		<!-- Headline -->
 		<h3 class="headline">Featured Recipes</h3>
		<span class="line rb margin-bottom-35"></span>
		<div class="clearfix"></div>

		<!-- Isotope -->
		<div class="isotope">

      <% @featured.each do |recipe| %>
      
			<!-- Recipe #1 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="/recipes/<%= recipe.id %>">
						<img src="<%= recipe.image %>" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">View Recipe</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> <%= recipe.prep_time %></div>

					<div class="clearfix"></div>
				</div>
			</div>
      <% end %>
		</div>
		<div class="clearfix"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="/recipes">Browse all recipes <i class="fa fa-arrow-right"></i></a></li>
				</ul>
			</nav>
      <br>
      <br>
		</div>

	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="/recipes" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" name = "q" placeholder="Search for recipes" value=""/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>


	<!-- Author Box -->
	<div class="widget">
		<div class="author-box">
			<span class="title">About the <br> Developer</span>
			<span class="name">Josh<br>Springer</span>
			<span class="contact"><a href="mailto:jspringxc@gmail.com">jspringxc@gmail.com</a></span>
			<img src="/images/josh.png" alt="">
			<p>My name is Josh Springer. I am a software developer and graduate of Actualize New York's full stack coding bootcamp.  This is my capstone project.  Feel free to email me with any comments.</p>
		</div>
	</div>


	<!-- Popular Recipes -->
	<div class="widget">
		<h4 class="headline">Popular Recipes</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
    <% @popular.each do |recipe| %>
		<!-- Recipe #1 -->
		<a href="/recipes/<%= recipe.id %>" class="featured-recipe">
			<img src="<%= recipe.image %>" alt="">

			<div class="featured-recipe-content">
				<h4><%= recipe.name %></h4>
			
				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>
			</div>
			<div class="post-icon"></div>
		</a>
    <% end %>

	<!-- Share -->
	<div class="widget">
		<h4 class="headline">Share</h4>
		<span class="line margin-bottom-30"></span>
		<div class="clearfix"></div>
		
		<ul class="share-buttons">
			<li class="facebook-share">
				<a href="#">
					<span class="counter">1,234</span>
					<span class="counted">Fans</span>
					<span class="action-button">Like</span>
				</a>
			</li>

			<li class="twitter-share">
				<a href="#">
					<span class="counter">863</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="google-plus-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

<!-- 			<li class="behance-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="instagram-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="dribbble-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="linkedin-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>


			<li class="github-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>


			<li class="youtube-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="pinterest-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>
 -->
		</ul>
		<div class="clearfix"></div>
	</div>

</div>


</div>
<!-- Container / End -->


<div class="margin-top-5"></div>


</div>
<!-- Wrapper / End -->

