<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>Pantry</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/green.css" id="colors">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</head>

<body>
<!-- Wrapper -->
<div id="wrapper">


<!-- Header
================================================== -->
<header id="header">

<!-- Container -->
<div class="container">

  <!-- Logo / Mobile Menu -->
  <div class="three columns">
    <div id="logo">
      <h1><a href="/"><img src="/images/pantry-logo.png" alt="Chow" /></a></h1>
    </div>
  </div>


  <!-- Navigation
  ================================================== -->
  <script>
  $( document ).ready(
    function() {
      if (document.URL.indexOf('mypantry') > -1)
      {
        document.getElementById("mypantry").id = "current";
      }
      else if (document.URL.indexOf('recipes') > -1)
      {
        document.getElementById("recipes").id = "current";
      }
      else if (document.URL.indexOf('mealplanner') > -1)
      {
        document.getElementById("mealplanner").id = "current";
      }
      else
      {
        document.getElementById("home").id = "current";
      }
    } );
  </script>

  <div class="thirteen columns navigation">

    <nav id="navigation" class="menu nav-collapse">
      <ul>
        <li><a href="/" id="home">Home</a></li>

        <li><a href="/recipes?page=1&images=true" id="recipes">Recipes</a>
          <ul>
            <li><a href="/recipes?page=1&images=true">Browse All Recipes</a></li>
            <li><a href="/recipes/favorites?page=1">Favorite Recipes</a></li>
            <!-- <li><a href="/recipes/muted?page=1">Muted Recipes</a></li> -->
          </ul>
        </li>

        <li><a href="/mypantry" id="mypantry">MyPantry</a>
        </li>
        <li><a href="/mealplanner/splash" id="mealplanner">Meal Planner</a>
        </li>

        <% if current_user %>
        <li><a data-method="delete" href="/users/sign_out">Sign Out (<%= current_user.email %>)</a></li>  
        <% else %>
        <li><a href="/users/sign_in">Sign In</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
        <% end %>

        <!-- <li><a href="/submit-recipe.html">Submit Recipe</a></li> -->
      </ul>
    </nav>

  </div>

</div>
<!-- Container / End -->
</header>

<%= yield %>

<!-- Footer
================================================== -->
<div id="footer">


</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

  <!-- Container -->
  <div class="container">

    <div class="eight columns">Made by <a>Josh Springer</a></div>

  </div>
  <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="/#"></a></div>



<!-- Java Script
================================================== -->
<script src="/scripts/jquery-1.11.0.min.js"></script>
<script src="/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.superfish.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/responsive-nav.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/isotope.pkgd.min.js"></script>
<script src="/scripts/chosen.jquery.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/custom.js"></script>


</body>
</html>
